
<!DOCTYPE HTML>
<!-- <html style="height: 100%"> -->
  <html>
  <title>Dragnnect-client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
    function openFullscreen() {
      elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }
    //openFullscreen();
    </script>
    <script type="text/javascript" charset="utf-8">
      var count = {{ count }};
      var room_id = {{ room_id }};
      var dev_id = {{ idx }};
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      
      socket.on('update', function(data) {
        count = data.count;
        document.getElementById("textarea").innerHTML = "#Room: " + room_id + "\nDev Number: " + count;
      });
      data = {};
      
      socket.on('connect', function() {
        socket.emit('join', data);
      });
      
      function leave() {
        socket.emit('leave');
        history.back();
      };

      socket.on('ntp_0', function() {
        t1 = Date.now();
        socket.emit('ntp_1', t1);
      });
      

      //socket.on('connect', function() {
      
      //});
      socket.on('redirect', function (data) {
        window.location = data.url;
      });

      
    </script>
    <style>
      
    </style>
  </head>
  <body>
    <div class="topnav">
      <a onClick="leave()">Home</a>
      <a class="active" href="#canvas">Canvas</a>
      <a href="#2d-demo">2D DEMO</a>
      <a href="#3d-demo">3D DEMO</a>
    </div>
    <div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>

    <div style="position:absolute; width:100%; height:100%;">
      <div id = "canvas" style="
        left: 0;
        top: 0;
        width: 100%; height:45%; position: relative;">
        <canvas id="canvas_view" class = "canvas"></canvas>
      </div>
      <div id = "textarea" class="centered" style="position:relative; height:5%;"></div>

      <div id = "coord_window" style = "position: relative; width: 100%; height:50%">
        <canvas id="coord_view" class = "canvas"></canvas>
      </div>
    </div>
    
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dragnnect2d.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
      document.getElementById("textarea").innerHTML = "#Room: " + room_id + "\nDev Number: " + count;
      data['id'] = room_id;
    </script>
  
  </body>
</html>            