
<!DOCTYPE HTML>
<!-- <html style="height: 100%"> -->
  <html>
  <title>Dragnnect-client</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    function openFullscreen() {
      elem = document.documentElement;
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) { /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }
    //openFullscreen();
    var count = {{ count }};
    var room_id = {{ room_id }};
    var dev_id = {{ idx }};
      

      
    </script>
    <style>
      
    </style>
  </head>
  <body>
    
    <div class="topnav" id="menu">
      <a id="tab-1" onClick="leave()">Home</a>
      <a id="tab-2" class="active" href="#canvas">Canvas</a>
      <a id="tab-3" href="#demo">DEMO</a>
      <a id="tab-4" onClick="resetLines()">Reset</a>
    </div>
    <div class="panel">
      <li id="content-1">
        
      </li>

      <li id="content-2">
        <div style="position: absolute; width:100%; height:100%">
          <div id = "canvas" style="
            left: 0;
            width: 100%; height:45%; position: relative;">
            <canvas id="canvas_view" class = "canvas"></canvas>
          </div>
          <div id = "textarea" class="centered" style="position:relative; height:5%;"></div>
    
          <div id = "coord_window" style = "position: relative; width: 100%; height:50%">
            <canvas id="coord_view" class = "canvas"></canvas>
          </div>
        </div>
      </li>

      <li id="content-3">
        2d
      </li>

      <li id="content-4">
        
      </li>
    </div>
    
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/socketio_d.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dragnnect2d.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
      document.getElementById("textarea").innerHTML = "#Room: " + room_id + "\nDev Number: " + count;
      data['id'] = room_id;
        /*탭메뉴*/
    var oTab = document.getElementById("menu");
    var tabIndex = $(this).find('.active').attr('id').match(/\d+$/);
    
    $(this).find('.panel').find('#content-' + tabIndex[0]).show();

    $(this).find('.title a').click(function() {
      /*선택색인*/

      var tabIndex = $(this).attr('id').match(/\d+$/);
      /*타이틀*/
      oTab.find('.title a').removeClass('active');
      $(this).addClass('active');

      /*패널*/
      oTab.find('.panel li').hide();
      oTab.find('.panel').find('#content-' + tabIndex[0]).show();

      return false;
    });


    </script>
  
  </body>
</html>            