<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var start;
      var marker;
      function initMap() {
        start = new google.maps.LatLng(-34.397,150.644);
        map = new google.maps.Map(document.getElementById('map'), {
          center: start,
          zoom: 12
        });
        marker = new google.maps.Marker({
          position: start,
          map: map,
          title: 'Click to zoom'
        });
        marker.addListener('click', function() {
          map.setZoom(12);
          map.setCenter(marker.getPosition());
        });
        map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            //map.panTo(marker.getPosition());
            l = fromLatLngToPixel(start);
          console.log(l);
          p = fromPixelToLatLng(l);
          console.log(p.lat());
          console.log(p.lng());
          
          
          }, 3000);
        });
        
      }
      
function fromLatLngToPixel(position) {
  var scale = Math.pow(2, map.getZoom());
  var proj = map.getProjection();
  var bounds = map.getBounds();

  var nw = proj.fromLatLngToPoint(
    new google.maps.LatLng(
      bounds.getNorthEast().lat(),
      bounds.getSouthWest().lng()
    ));
  var point = proj.fromLatLngToPoint(position);

  return new google.maps.Point(
    Math.floor((point.x - nw.x) * scale),
    Math.floor((point.y - nw.y) * scale));
  }

function fromPixelToLatLng(pixel) {
  var scale = Math.pow(2, map.getZoom());
  var proj = map.getProjection();
  var bounds = map.getBounds();

  var nw = proj.fromLatLngToPoint(
    new google.maps.LatLng(
      bounds.getNorthEast().lat(),
      bounds.getSouthWest().lng()
    ));
  var point = new google.maps.Point();

  point.x = pixel.x / scale + nw.x;
  point.y = pixel.y / scale + nw.y;

  return proj.fromPointToLatLng(point);
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdtzGaAnphoiThWBCYxmf_6jZLqr1B1TQ&callback=initMap"
    async defer></script>
  </body>
</html>